body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

.my-navbar {
    background-color: rgb(2, 2, 44);
}

.my-navbar a,
.my-navbar li {
    color: blue;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.3rem;
}

.my-navbar li {
    margin: 0.5rem;
}

.my-navbar li:hover {
    color: blue;
}

.collapse a:hover {
    color: rgb(124, 124, 28);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: blue;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.btn-outline-warning {
    outline: yellow;
    border: yellow;
}
.form-control {
    background-color: transparent;
}
.nav-form:focus {
    outline: 0;
}

.sec-nav-row {
    padding: 1rem .5rem;
    background-color: rgb(17, 17, 177);
}

.sec-nav-item-col {
    color: yellow;
    border-right: 1px solid yellow;
    text-align: center;
    
}

.last-item {
    border-right: none;
}